{# template route : {module}/{model}/ #}

{% trans_default_domain '{module}' %}

{% extends "{module}/{model}/_layout.html.twig" %}

{% import '@_theme/components/breadcrumbs.html.twig' as breadcrumbs %}
{% block breadcrumb %}
    {{ parent() }}
    {{ breadcrumbs.item('{model}.list.title'|trans, null, null, true) }}
{% endblock %}

{% block main %}
    {#
        Options list.html.twig:
        - trans_default_domain: Domain de traduction
        - hide_filters: true pour masquer le panneau de filtres
    #}
    {% embed '@_theme/layout/list.html.twig' with { trans_default_domain: '{module}', hide_filters: false }%}

        {% block title %}
            <i data-lucide="{{ {model}_icon }}" class="size-5 text-dark-lighter"></i>
            <span>{{ '{model}.index.title'|trans }}</span>
        {% endblock %}

        {% block create_link path('{module}/{model}/create') %}

        {#
            Define explicit columns with _th (header) and _td (cell) blocks.
            The `item` variable contains the current model instance.

            Example:
            {% block firstname_th '{model}.fields.firstname.label'|trans %}
            {% block firstname_td %}{{ item.firstname }}{% endblock %}

            {% block lastname_th '{model}.fields.lastname.label'|trans %}
            {% block lastname_td %}{{ item.lastname }}{% endblock %}
        #}
        {% block {model}_th '{Model}'|trans %}
        {% block {model}_td %}{{ item }}{% endblock %}

        {% block empty_text '{model}.list.empty'|trans %}

    {% endembed %}
{% endblock %}
