{% block menu_element %}
    {% set active = element.active|default(false) or element.label == active_menu|default('') %}
    {% set link = element.link is defined ? element.link : (element.route is defined ? path(element.route) : '#') %}
    <li>
        <a href="{{ link }}" class="flex items-center gap-4 rounded-md px-4 py-2 text-sm font-medium hover:bg-menu-hover hover:text-white group-[.closed]/sidebar:px-0 {{ element.extra_class|default('') }} {{ active ? 'text-white bg-menu-active' : '' }}" 
        >
        {% if element.icon is defined and element.icon is not empty %}
            <i data-lucide="{{ element.icon }}" class="size-5 group-[.closed]/sidebar:mx-auto"></i>
        {% endif %}
            <span class="group-[.closed]/sidebar:hidden">{{ element.label }}</span>
        {% if element.pill is defined %}
            <span class="ml-auto rounded-full {{ element.pill.color|default('bg-green-500') }} px-2 text-xs text-white group-[.closed]/sidebar:hidden">
                {{ element.pill.value }}
            </span>    
        {% endif %}
        </a>
    </li>
{% endblock %}

{% block menu_section %}
    <li class="{{ section.class|default('group-[.closed]/sidebar:-mt-5')|raw }}">
    {% if section.label is defined %}
    	<h2 class="text-xs font-semibold uppercase tracking-wide text-gray-500">
			<span class="block transition-all duration-300 px-4 group-[.closed]/sidebar:hidden">
                {{ section.label }}
            </span>
			<span class="hidden group-[.closed]/sidebar:flex h-px w-10 bg-gray-600 mx-auto my-2"></span>
		</h2>
    {% endif %}
        <ul role="list" class="flex flex-col mt-3 group-[.closed]/sidebar:mt-4 gap-y-2 group-[.closed]/sidebar:gap-y-3">
            {% for element in section.elements|default([]) %}
                {{ block('menu_element') }}
            {% endfor %}
        </ul>
    </li>
{% endblock %}
